/****************************
 Project : Tab-2-Accodion
 Author : Sahil Gupta
 File : style.scss
****************************/
/* line 8, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
.tab_accord_wrapper.flat_theme ul.tabs {
  border-bottom: 1px solid #e2e2e2;
}
/* line 11, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
.tab_accord_wrapper.flat_theme ul.tabs li {
  color: #000000;
}
/* line 14, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
.tab_accord_wrapper.flat_theme ul.tabs li.active {
  background-color: #fff;
  color: #eb5240;
  border-bottom: 4px solid #eb5240;
}
/* line 19, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
.tab_accord_wrapper.flat_theme .tab_container {
  background: #fff;
}
/* line 22, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
.tab_accord_wrapper.flat_theme .tabs_action {
  border-top: 1px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  /* line 26, ../../../scss/Themes/Flat-Design/Flat-Tab-2-accordion.scss */
  .tab_accord_wrapper.flat_theme .tab_drawer_heading {
    color: #ffffff;
    background-color: #ff6873;
  }
}
