/****************************
 Project : Tab-2-Accodion
 Author : Sahil Gupta
 File : style.scss
****************************/

.tab_accord_wrapper.flat_theme{
  ul.tabs{
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
  }
  ul.tabs li{
    color: #000000;
    border-right: 1px solid #e2e2e2;
  }
  ul.tabs li.active {
    background-color: #fff;
    color: #fff;
    border-bottom: 2px solid #fff;
    background: #eb5240;
  }
  .tab_container{
    background: #fff;
    border: 1px solid #e2e2e2;
  }
  .tabs_action{
    border-top: 1px solid #e2e2e2;
  }
  @media screen and (max-width: 768px) {
    .tab_drawer_heading {
      color: #ffffff;
      background-color: #ff6873;

    }
  }
}