/* line 1, ../scss/Generate_Tab-2-Accodion.scss */
.build_options {
  float: left;
  width: 35%;
}

/* line 5, ../scss/Generate_Tab-2-Accodion.scss */
.previewsection {
  float: left;
  width: 55%;
}
