ul.tabs{
  display: none;
}
.tab_container{
  .tab_drawer_heading_wrapper{
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    .tab_drawer_heading{
      color: #333;
      font-size: 18px;
      font-weight: 200;
      padding: 10px;
      margin: 0px;
      .fa{
        float: right;
        color: #db4437;
      }
    }
  }
  .tab_content{
    line-height: 20px;
    padding: 0px 10px;
    overflow: auto;
    background-color: #999;
    color: #ffffff;
  }
}