/* line 1, ../../../scss/Themes/Material-Design/style.scss */
ul.tabs {
  display: none;
}

/* line 5, ../../../scss/Themes/Material-Design/style.scss */
.tab_container .tab_drawer_heading_wrapper {
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}
/* line 8, ../../../scss/Themes/Material-Design/style.scss */
.tab_container .tab_drawer_heading_wrapper .tab_drawer_heading {
  color: #333;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
  margin: 0px;
}
/* line 14, ../../../scss/Themes/Material-Design/style.scss */
.tab_container .tab_drawer_heading_wrapper .tab_drawer_heading .fa {
  float: right;
  color: #db4437;
}
/* line 20, ../../../scss/Themes/Material-Design/style.scss */
.tab_container .tab_content {
  line-height: 20px;
  padding: 0px 10px;
  overflow: auto;
  background-color: #999;
  color: #ffffff;
}
