/****************************
 Project : Tab-2-Accodion
 Author : Sahil Gupta
 File : style.scss
****************************/
/* line 8, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme ul.tabs {
  border: 1px solid #e2e2e2;
  border-right: 5px solid #eb5240;
}
/* line 12, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme ul.tabs li {
  color: #000000;
  background-color: #EFF0F2;
  border-bottom: 1px solid #ffffff;
}
/* line 16, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme ul.tabs li:last-child {
  border-bottom: 0px solid #ffffff;
}
/* line 20, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme ul.tabs li.active {
  color: #fff;
  border-bottom: 1px solid #eb5240;
  background: #eb5240;
}
/* line 25, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme .tab_container {
  background: #EFF0F2;
  border: 1px solid #e2e2e2;
}
/* line 29, ../../../scss/Themes/Theme-5/color-scheme.scss */
.tab_accord_wrapper.flat_theme .tabs_action {
  border-top: 1px solid #e2e2e2;
}
@media screen and (max-width: 768px) {
  /* line 33, ../../../scss/Themes/Theme-5/color-scheme.scss */
  .tab_accord_wrapper.flat_theme .tab_drawer_heading {
    color: #ffffff;
    background-color: #ff6873;
  }
}
